<!--{template common/header}-->

<link rel="stylesheet" type="text/css" href="static/css/index.css">

<div class="top TxtCenter">
	<div class="logo"></div>
	<!--{if $isstop}-->
	<div class="stopfont">此会议已结束</div>
	<!--{else}-->
	<div class="iphone6"></div>
	<!--{/if}-->
	<br>
	<!--{eval 
		$createConfHref='logging.php?mod=login';
		if($islogin)
			$createConfHref='create.php';
	}-->
	<a class="login" href="$createConfHref"></a>
</div>
<div class="bottom TxtCenter">
	<!--{if $islogin }-->
	<!---->
	<!--已经登录-->
	<div class="userinfo">
		<div class="Left topicArea" style="width:155px">
				<img src="###" class="Left avatar">
				<div class="Left pLeft20 mTop5 TxtLeft">
					<div class="username"></div>
					<div class="usercompanys"></div>
				</div>
				<div class="Clear"></div>
		</div>
		<div class="Right topicArea2">
			<a href="history.php" class="conFbutton button">我的会议记录</a>
			<a href="logging.php?mod=logout" class="logoutbtn button mLeft10">登出</a>
		</div>
		<div class="Clear"></div>
	</div>

	<!--{else}-->
	<!--还未登录的情况-->
	<a class="mdlogin button button2" href="logging.php?mod=login"><font>使用明道帐号登录</font></a>
	<!--{/if}-->
</div>
<script type="text/javascript">
	$(function(){
		$("img.avatar").attr("src",main.current.avatar100);
		$("div.username").text(main.current.name);
		$("div.usercompanys").text(main.current.company);
	});
</script>
<!--{template common/footer}-->