<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link href="static/css/style.min.css" rel="stylesheet" />
<title>语音会议</title>
</head>
<body>
	<form action="metting.php?id=$id" method="post">
    <div class="Hk_invitePWD">
        <div class="Hk_yhLogo"></div>
        <div class="Hk_inviteTitle">此会议设置了访问密码</div>
        <div class="Hk_pwdArea">
            <input type="password" class="Pwd_text" name="password" placeholder="请输入会议密码" />
            <div class="clear"></div>
        </div>
        <div class="Hk_joinmeet">
            <a class="joinMeet" href="javascript:document.forms[0].submit();">加入此次会议</a>
        </div>
    </div>
    </form>
</body>
</html>