<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link href="static/css/style.min.css" rel="stylesheet" />
<title>语音会议</title>
</head>
<body>
    <div class="Hk_invitePWD">
        <div class="Hk_yhLogo"></div>
        <div class="Hk_inviteTitle" style="margin-top:35px;">您受邀加入会议：会议名称</div>
        <div class="Hk_pwdArea">
            <div class="Hk_Outer">
                <div class="OuterLeft">
                    <input type="text" class="Pwd_text" placeholder="请输入姓名" />
                    <input type="text" class="Pwd_text" placeholder="请输入您的手机号码" />
                    <div class="clear"></div>
                </div>
                <div class="OuterRight">
                    <div class="OuterMd">使用明道账号加入</div>
                    <a class="Md_btn" href="#">
                        <font>使用明道帐号登录</font>
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="Hk_joinmeet" style="margin-top:83px;">
            <a class="joinMeet" href="#">加入此次会议</a>
        </div>
    </div>
</body>
</html>