<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link href="css/style.min.css" rel="stylesheet" />
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<title>语音会议</title>
</head>
<body style="background:url(images/loginBg.png) !important">
    <div class="Hk_recordTop">
        <div class="Hk_reCenter">
            <div class="Hk_logo">
                <a href="#">云话LOGO</a>
            </div>
            <div class="Hk_reRight" id="Hk_reRight">
                <div class="Hk_user">
                    <div class="Hk_topic">
                        <a href="#">
                            <img src="images/topic.png" />
                        </a>
                    </div>
                    <div class="Hk_Name">
                        <div class="Hk_names">路扬</div>
                        <div class="Hk_title">会议创建者</div>
                    </div>
                </div>
                <div class="slideMenu slide3" id="slideMenu">
                    <a href="#">修改资料</a>
                    <a href="#">切换至手机接听</a>
                    <a href="#" class="quit">退出会议</a>
                </div>
            </div>
        </div>
    </div>
    <div class="Hk_recordCon">
        <div class="Hk_inviteType" style="border:0;">
            <a class="selected">我的所有会议（20）</a>
            <a>我发起的会议（10）</a>
            <a>我参与的会议（10）</a>
        </div>
        <div class="Hk_MeetTitle">
            <span class="meetName">会议名称</span>
            <span class="meetAuthor">发起人</span>
            <span class="meetDate">发起时间</span>
            <span class="meetUser">参会成员</span>
            <span class="meetTime">会议时长</span>
            <span class="meetLuyin">录音</span>
        </div>
        <div class="Hk_meetList">
            <table class="tables" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="meetName">2014公司发展计划会议</td>
                    <td class="meetAuthor">
                        <span class="meetUsers">
                            <img src="images/topic.png" />
                        </span>
                    </td>
                    <td class="meetDate">2014/06/09 14:00</td>
                    <td class="meetUser">
                        <span class="meetUsers">
                            <img src="images/topic.png" />
                        </span>
                        <span class="meetUsers">
                            <img src="images/topic.png" />
                        </span>
                        <span class="meetUsers">
                            <img src="images/topic.png" />
                        </span>
                        <span class="meetUsers">
                            <img src="images/topic.png" />
                        </span>
                        <span class="meetUsers">
                            <img src="images/topic.png" />
                        </span>
                        <span class="meetUsers">
                            <img src="images/topic.png" />
                        </span>
                        <span class="meetUsers">
                            <img src="images/topic.png" />
                        </span>
                    </td>
                    <td class="meetTime">123:00</td>
                    <td class="meetLuyin">
                        <a class="downBtn">录音下载</a>
                    </td>
                </tr>
                <tr>
                    <td class="meetName">2014公司发展计划会议</td>
                    <td class="meetAuthor">
                        <span class="meetUsers">
                            <img src="images/topic.png" />
                        </span>
                    </td>
                    <td class="meetDate">2014/06/09 14:00</td>
                    <td class="meetUser">
                        <span class="meetUsers">
                            <img src="images/topic.png" />
                        </span>
                        <span class="meetUsers">
                            <img src="images/topic.png" />
                        </span>
                    </td>
                    <td class="meetTime">123:00</td>
                    <td class="meetLuyin">
                        <a class="downBtn">录音下载</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="clear"></div>
    </div>
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="js/Script.js"></script>
</body>
</html>