<!--{template common/header}-->


<script src="static/js/selectuser.js"></script>

<!--{if empty($_GET['mod'])}-->
<!--{template block/selectuser}-->
<!--{else}-->
<!--{template block/selectuserdialog}-->
<!--{/if}-->

<script src="static/js/Script.js"></script>
<script type="text/javascript">
	$(function(){
		$("#avatar").attr("src", main.current.avatar100);
        $("#username").text( main.current.name);
        $("#userjob").text( main.current.job);
        $("#companyname").text( main.current.company);
	});
</script>

<!--{template common/mainfooter}-->
