<div class="Hk_MeetCount">
                    <a class="joined {if $joinBtn=='joinBtn'}highlight{/if}" id="joinBtn">
                        <span class="join1">已加入</span>
                        <span class="join1">$joinnum 人</span>
                    </a>
                    <a class="Unjoin {if $joinBtn=='unJoinBtn'}highlight{/if}" id="unJoinBtn">
                        <span class="join2">未加入</span>
                        <span class="join2">$nojoinnum 人</span>
                    </a>
                    <a class="addUser" id="addUserBtn">邀请成员</a>
                </div>
                <div class="Hk_areas">
                    <div class="Hk_joinList" {if $joinBtn=='unJoinBtn'}style="display:none;"{/if} id="join_con">
                        <ul>
                        <!--会议创建者-->
                       	<!--{if isset($admin)}-->
                       		<li callid="$admin->callid">
                               <div class="topics">
                                   <a href="#">
                                       <img src="$admin->avatar" />
                                   </a>
                               </div>
                               <div class="userInfo">
                                   <span class="fullNames meetHost">$admin->name</span>
                                   <span class="userTel">$admin->department</span>
                               </div>
                               <div class="setArea">
                               	<!--{if strlen($admin->number)>=14 }-->
                                   <a class="pcIcon" title="PC登录">电脑图标</a>
                                   <!--{/if}-->
                                   <a class="cameras">
                                       <img src="static/images/CameronIcon.png" />
                                   </a>
                                   <a class="{if $admin->mute}voiceOff{else}voiceOn{/if}">静音</a>
                                   <a class="closeBtn">移除</a>
                               </div>
                            </li>
                       	<!--{/if}-->
                        <!--{loop $mettingusers[1] $user}-->
                            <li callid="$user->callid">
                                <div class="topics">
                                    <a href="#">
                                        <img src="$user->avatar" />
                                    </a>
                                </div>
                                <div class="userInfo">
                                    <span class="fullNames">$user->name</span>
                                    <span class="userTel">$user->department</span>
                                </div>
                                <div class="setArea">
                                	<!--{if strlen($user->number)>=14 }-->
                                    <a class="pcIcon" title="PC登录">电脑图标</a>
                                    <!--{/if}-->
                                    <a class="cameras">
                                        <img src="static/images/CameronIcon.png" />
                                    </a>
                                    <a class="{if $user->mute}voiceOff{else}voiceOn{/if}">静音</a>
                                    <a class="closeBtn">移除</a>
                                </div>
                            </li>
                            <!--{/loop}-->
                        </ul>
                    </div>
                    <div class="Hk_joinList Hk_unjoins" id="unJoin_con" {if $joinBtn=='joinBtn'}style="display:none"{/if}>
                        <ul>
                       	<!--{loop $mettingusers[0] $user}-->
                            <li>
                                <div class="topics">
                                    <a href="#">
                                        <img src="$user->avatar" />
                                    </a>
                                </div>
                                <div class="userInfo">
                                    <span class="fullNames {if $user->id==$create['id']}meetHost{/if}">$user->name</span>
                                    <span class="userTel">$user->department</span>
                                </div>
                                <div class="setArea">
                                    <a class="pcIcon">电脑图标</a>
                                    <a class="inviteUser">邀请</a>
                                </div>
                            </li>
                           <!--{/loop}-->
                        </ul>
                    </div>
                </div>