<div class="Hk_MeetCount">
                    <a class="joined highlight" id="joinBtn">
                        <span class="join1">已加入</span>
                        <span class="join1">$joinnum 人</span>
                    </a>
                    <a class="Unjoin" id="unJoinBtn">
                        <span class="join2">未加入</span>
                        <span class="join2">$nojoinnum 人</span>
                    </a>
                    <a class="addUser" id="addUserBtn">邀请成员</a>
                </div>
                <div class="Hk_areas">
                    <div class="Hk_joinList" id="join_con">
                        <ul>
                        <!--{loop $mettingusers[1] $user}-->
                            <li>
                                <div class="topics">
                                    <a href="#">
                                        <img src="$user->avatar" />
                                    </a>
                                </div>
                                <div class="userInfo">
                                    <span class="fullNames">$user->name</span>
                                    <span class="userTel">$user->number</span>
                                </div>
                                <div class="setArea">
                                    <a class="pcIcon">电脑图标</a>
                                    <a class="cameras">
                                        <img src="images/CameronIcon.png" />
                                    </a>
                                    <a class="voiceOn">静音</a>
                                    <a class="closeBtn">移除</a>
                                </div>
                            </li>
                            <!--{/loop}-->
                        </ul>
                    </div>
                    <div class="Hk_joinList Hk_unjoins" id="unJoin_con" style="display:none">
                        <ul>
                       	<!--{loop $mettingusers[0] $user}-->
                            <li>
                                <div class="topics">
                                    <a href="#">
                                        <img src="$user->avatar" />
                                    </a>
                                </div>
                                <div class="userInfo">
                                    <span class="fullNames">$user->name</span>
                                    <span class="userTel">$user->number</span>
                                </div>
                                <div class="setArea">
                                    <a class="pcIcon">电脑图标</a>
                                    <a class="inviteUser">邀请</a>
                                </div>
                            </li>
                           <!--{/loop}-->
                        </ul>
                    </div>
                </div>